/* https://codepen.io/FlorinPop17/pen/EJKgKB */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
} */

.card {
	/* background-color: #231E39; */
	border-radius: 5px;
	/* box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75); */
	color: #B3B8CD;
    position: relative;
	max-width: 100%;
	text-align: center;
    gap: 10px; 
}

.skills {
	/* background-color: #1F1A36; */
	text-align: left;
	/* padding: 15px;
	margin-top: 30px; */
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	/* border: 1px solid #2D2747; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}
